/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  :focus {
    outline: 0;
  }
  
  a:active,
  a:hover {
    outline: 0;
  }
  
  body {
    text-align: center;
  }
  
  header {
    margin-top: 10px;
  }
  
  main {
    margin-top: 10px;
  }
  
  input {
    margin: 10px;
    padding: 10px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .box {
    margin: 10px;
    border: 2px solid black;
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 10px;
  }
  
  .box img {
    width: 150px;
    height: 150px;
  }